*{
    margin: 0;
    padding: 0;
    background-image: url(../Resume/Resume\ back.png);
}
ul{
    color: blue;
    font-size: 20px;
    margin-left: 5px;
}
h{
    color: blueviolet;
    font: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 5px;
}