*{
    margin: 0;
    padding: 0;
    background-image: url(../Img\ 2.png)
}
ul{
    color: blue;
    font-size: 20px;
    margin-left: 5px;
}
h1{
    color: blueviolet;
    font: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 5px;
}
.Blue-text{
    font: center;
    color: brown;
}